@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Lato:900|Roboto:700|Montserrat:800&subset=japanese");

$family-sans-serif: BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic,
  "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo,
  sans-serif;

// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

$white: #fffffe;
$warning: #fde184;
$link: #519d9e;
$primary: #8fbc94;
$text-strong: #515761;
$text: #5c636e;

@import "../node_modules/bulma/bulma.sass";

html {
  font-size: 17px;
}

.blog-title {
  font-family: "Lato";
  padding-top: 0.25rem;
}

.button.twitter {
  background-color: #55acee;
  color: white;
  border-color: transparent !important;
}

pre {
  code {
    font-size: 0.8rem;
  }
}

.content {
  line-height: 30px;
  h1 {
    border-bottom: 2px solid;
    border-bottom-color: #a0a0a0;
    padding-bottom: 0.5rem;
    font-size: 1.5em;
    display: inline-block;
    code {
      padding: 0 0.5rem;
    }
  }

  h2 {
    font-size: 1.25em;
    code {
      padding: 0 0.5rem;
    }
  }

  h3 {
    font-size: 1.1em;
  }

  pre {
    font-size: 0.5rem;
    padding: 0.75rem 1.25rem;
  }

  twitterwidget,
  iframe {
    display: block;
    margin: 2rem auto !important;
  }

  blockquote {
    padding: 0.8em 1em;
  }

  .tag,
  .number {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
  }
}
