{
  "name": "{{ name }}",
  "version": "0.1.0",
  "description": "",
  "main": "index.js",
  "engines": {
    "node": ">=8"
  },
  "scripts": {
    "start": "bin/index.js"
  },
  "keywords": [],
  "author": "",
  "license": "MIT",
  "dependencies": {
  },
  "devDependencies": {
  }
}
