[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
lint = "flake8 ."
fix = "autopep8 -ivr ."

[packages]
requests = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
